ion-content{
    background-image:url(../../assets/fondo.jpg);
    background-size: cover;
}
ion-item{
    background-color: white;
    box-shadow:10px 10px 21px 2px rgba(0,0,0,0.75);
}
p{
    background-color: black;
    color:white;
}