ion-header{
        background-color: black;
        color:black;
    }
  ion-content{
      background-image:url(../../assets/fondo.jpg);
      background-size: cover;
  }
  ion-item{
    background-color: rgba(0, 5, 12, 0.76)
}
ion-label{
    color: white;
}
ion-icon{
    color: white;
}
